api:
  enabled: true
auth:
  username: admin
  password: CHANGE_ME_STRONG_PASSWORD_HERE
  secret: CHANGE_ME_SESSION_SECRET_HERE
database:
  path: /data/db.sqlite
antennas:
  - id: antenna-1
    url: https://antenna-1.derad.org/aircraft.json
    enabled: true
wallet:
  private_key_name: arweave-keyfile-YOURKEY.json
