api:
  enabled: true
auth:
  username: admin
  password: CHANGE_ME
  secret: CHANGE_ME_OR_AUTO_GENERATED
database:
  path: ./database/db.sqlite
antennas:
  - id: antenna-1
    url: https://antenna-1.derad.org/aircraft.json
    enabled: true
wallet:
  private_key_name: arweave-keyfile-YOUR_WALLET_ADDRESS.json
data:
  encryption_key: CHANGE_ME_64_CHAR_HEX_STRING
